body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color: #8AD7C1;
}
h2,h6{
    margin-top: 2%;
    font-weight: bold;
    color: #8AD7C1;
}
.container{
    margin-top: 2%;
    border: 1px solid ;
    background-color: #E4F9F5;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 15px;
    min-height: 90vh;
    
}
.btn{
    margin: 2% 0;
    display: none;
}
.row{
    width: 100%;
}
.webcam-capture{
        position: fixed;
        z-index: 2;
        right: 15px;
        bottom: 15px;
        width: fit-content;
        height: 110px;
        border-radius: 3px;
  }
